#center {
    display: block;
    width: 300px;
    border: 5px solid #d6ecf3;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
#results {
    display: block;
    width: 300px;
    border: 5px solid #66a7bd;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}
.weather {
    font-weight: 400;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#temp {
    color: #fff;
    text-shadow: .05em .05em 0 rgba(0,0,0,0.3);
}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}




/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 992px) {
    body {
        display: inherit;
        font-size: 35px;

    margin-top: 30px;
    margin-bottom: 60px;
    }
    input[type=checkbox] {width:30px; height:30px;}

    #center{
        width: 700px;
        border-width: 10px;
    }
    #results {
        width: 700px;
        border-width: 10px;
    }
    #btn {
        font-size: 40px;
        border-radius: 10px;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        display: flex;
        font-size: 15px;
    }
}

