#center {
    display: block;
    width: 300px;
    border: 5px solid #d6ecf3;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
#results {
    display: block;
    width: 300px;
    border: 5px solid #66a7bd;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}
.weather {
    font-weight: 400;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#temp {
    color: #fff;
    text-shadow: .05em .05em 0 rgba(0,0,0,0.3);
}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        display: inherit;
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        display: inherit;
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        display: inherit;
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        display: flex;
        font-size: 15px;
    }
}

